<!doctype html>
<html>
    <head>
        <title>User Login and Sessions</title>
        <link rel="stylesheet" href="/static/css/styles.css" type = "text/css">
    </head>
    <body>
        <div class ="form-container">
            <p class = "form-header">Login</p>
            <form action="" method ="POST">
                <label for="">Username:</label>
                <input type="text" name ="username"><br>
                <label for="">Password:</label>
                <input type="text" type="password" name = "password">
                <input type="submit" value="login">
            </form>
        </div>
       <hr><%=msg%>
    </body>
</html>