div.form-container{
    /* display: inline-block; */
    border:1px ridge rgb(171, 171, 196);
    /* width:280px; */
    border-radius: 10px;
    position: absolute;
    /* margin:10px; */
    width: 300px;
    height: 300px;
    margin: auto;
    /* margin:auto auto; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* align:center; */
}

.form-header{
    margin-top:20px;
    font:24px bold;
    color:blue;
    background:greenyellow;
    text-align:center;
}

.form-group{
    margin-top:5px;
}
/* form {
    margin:10px;
} */

label{
    width:80px;
    display:inline-block;
}

input{
    border:1px ridge blue;
    border-radius:5px;
    padding:3px
}

input [type=submit]{
    font:18px bold;
    width:120px;
    color:white;
    background:blue;
    /* margin-top:15px; */
    /* margin-left:85px; */
}